body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ffdde1, #ee9ca7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.card {
    background: white;
    width: 350px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    position: relative;
}

h1 {
    color: #ff4d6d;
}

img {
    width: 180px;
    margin: 20px 0;
}

.buttons {
    position: relative;
    height: 120px;
}

button {
    padding: 12px 22px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
}

#yesBtn {
    background: #ff4d6d;
    color: white;
    left: 50%;
    transform: translateX(-110%);
}

#noBtn {
    background: #aaa;
    color: white;
    left: 50%;
    transform: translateX(10%);
}

#letterSection {
    display: none;
}

.envelope {
    width: 260px;
    background: #ff4d6d;
    margin: 40px auto;
    padding: 12px;
    border-radius: 14px;
}

.letter {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    font-size: 0.95rem;
    line-height: 1.6;
    color: #444;
    border-radius: 12px;
    min-height: 180px;
    text-align: left;
}

#petal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.petal {
    position: absolute;
    top: -30px;
    width: 26px;
    height: 26px;
    background-image: url("./2.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}